<!-- Header -->
<app-header-private></app-header-private>

<!-- Pedidos -->
<section class="contenedor-separacion p-5 m-3">
    <h4 class="text-center p-2 col-12">Pedidos</h4>
    <table class="table p-5">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Status</th>
                <th scope="col">Cliente</th>
                <th scope="col">Sabores</th>
                <th scope="col">Adornos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">321</th>
                <td>Miguel Eduardo...</td>
                <td>Confirmado</td>
                <td>chocolate, vainilla</td>
                <td>Ferrero Rocher</td>
            </tr>
            <tr>
                <th scope="row">322</th>
                <td>Renata Vasquez Luna</td>
                <td>En proceso</td>
                <td>Frambuesa, Cocolate</td>
                <td>Mariposas, Rosas.</td>
            </tr>
            <tr>
                <th scope="row">323</th>
                <td>Francisco Villa</td>
                <td>Por Confirmar</td>
                <td>Chocolate, chocolate</td>
                <td>Betun</td>
            </tr>
        </tbody>
    </table>
</section>

<!-- Almacen -->
<section class="contenedor-separacion p-5 m-3">
    <h4 class="text-center p-2 col-12">Almacen Materia prima</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <th>34</th>
                <td>Vainilla</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <th>34</th>
                <td>Chocolate</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <th>34</th>
                <td>Frambuesa</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <th>34</th>
                <td>Caramelo</td>
            </tr>
        </tbody>
    </table>

    <h4 class="text-center p-2 col-12">Almacen Adornos</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <th>13</th>
                <td>Rosas</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <th>60</th>
                <td>Ferrero Rocher</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <th>50</th>
                <td>Oreos</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <th>23</th>
                <td>Mariposas</td>
            </tr>
        </tbody>
    </table>
</section>

<!-- Footer -->
<app-footer-private></app-footer-private>