<!-- Header -->
<app-header-public></app-header-public>

<!-- Content -->
<br>

<h1 class="text-center titles ">Catálogo</h1>

<!-- Presentacion -->
<section id="presentation" class="contenedor-separacion p-3 m-3">
    <h2 class="text-center titles">Te ofrecemos las siguientes opciones</h2>
</section>

<!-- Catalogo -->
<section class="container-fluid p-5">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <img src="../assets/pastel_r_fresas.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Pinki love</h5>
                    <h5 class="card-subtitle mb-2 text-muted ">$450</h5>
                    <p class="card-text">Pastel para 6 personas ecnomico sabor fresa, adornado con fresas y perlas de caramelo.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <img src="../assets/pastel_m_mariposas_r.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Hadas del bosque</h5>
                    <h5 class="card-subtitle mb-2 text-muted ">$400</h5>
                    <p class="card-text">Pastel para 4 personas, 3 leches, sabor frambuesa con adornos de mariposa comestibles.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <img src="../assets/pastel_c_ferrero.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Ferrero Rocher</h5>
                    <h5 class="card-subtitle mb-2 text-muted ">$300</h5>
                    <p class="card-text">Pastel para 4 personas adornado con Ferrero Rocher sabor chocolate.</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <img src="../assets/pastel_b_rosas.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Ramo de cariño</h5>
                    <h5 class="card-subtitle mb-2 text-muted ">$400</h5>
                    <p class="card-text">Pastel para 4 personas, sabor frambuesa adornado con rosas comestibles.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <img src="../assets/pastel_b_dulce.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Dulce vida</h5>
                    <h5 class="card-subtitle mb-2 text-muted ">$450</h5>
                    <p class="card-text">Pastel para 5 personas adornado con Ferrero Rocher y oreos sabr vainilla.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card">
                <img src="../assets/pastel_b_corazon.jpg" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Merry me</h5>
                    <h5 class="card-subtitle mb-2 text-muted ">$380</h5>
                    <p class="card-text">Pastel para 4 personas sabor chocolate, en forma de corazon y y adornado con rosas comestibles.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<app-footer-public></app-footer-public>