<!-- Header -->
<app-header-public></app-header-public>

<!-- Content -->
<br>

<h1 class="text-center titles ">Mi Rinconcito De amor</h1>

<!-- Presentacion -->
<section id="presentation" class="contenedor-separacion p-3 m-3">
    <h2 class="text-center titles">Bienvenido</h2><br>
    <div class="container ">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-4 image-wrapper text-center">
                <img class="image-beauty" src="./assets/Pastel_1.jpg" alt="Pastel principal" width="80%">
            </div>
            <div class="col-12 col-md">
                <div class="text-wrapper text-center">
                    <p class="texte-content">
                        Contamos con la mayor disponibilidad y variedad de pasteles, para todos los eventos y antojos que tengas.
                    </p>
                    <p class="texte-content">
                        Contamos con servicio todos los dias de 10:00 Am. a 9:00 Pm.
                    </p>
                    <p class="texte-content">
                        Tenemos todo tipo de pasteles, de todos los tamaños y de todas las formas, gracias a nuestro sistema haz tus pedidos, personalizalo a tu gusto ¿quieres algo particular? Pídelo como lo quieras en el sistema y te lo haremos en un máximo de 2 días.
                    </p>
                    <a type="button" class="btn button-primario m-3 btn-block text-content" href="./views/pedidos.html">
                        Haz Tu Pedido
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Mapa -->
<section>
    <h2 class="text-center titles">Ubicación</h2>
    <div class="map-responsive">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d920.5299093664099!2d-102.9896747!3d22.6493276!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x773380b42e821e1!2zSmFyZMOtbiBSYWZhZWwgUMOhZXo!5e0!3m2!1ses!2smx!4v1646269888057!5m2!1ses!2smx" width="600"
            height="450" style="border:10;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</section>

<!-- Footer -->
<app-footer-public></app-footer-public>